<div class="cartPage h-full flex flex-col relative px-4 pt-2 pb-8 gap-4">
  <shared-back-button />
  <div class='flex-1 overflow-y-scroll flex flex-col py-4 px-4 gap-8 ' *ngIf="cartService.getCartSignal().length > 0">
    <client-card-item *ngFor="let product of cartService.getCartSignal()" [productCard]='product' />
  </div>

  <div class='flex-1 overflow-y-scroll flex justify-center items-center'
    *ngIf="cartService.getCartSignal().length === 0">
    <img src="../../../../assets/images/b.png" class='w-76 h-76 object-cover' alt="">
  </div>

  <div class="bg-slate-50 h-40 flex flex-col rounded-2xl px-4 py-6 gap-4 justify-center shadow-sm">
    <div class='flex justify-between items-center '>
      <div class='text-2xl font-thin'>Total Amount</div>
      <div class='font-bold text-2xl'>R{{cartService.totalPrice().toFixed(2)}}</div>
    </div>
    <button class='bg-black/90 shadow rounded-full text-white py-4'
      (click)="createNewOrder()">Confirm Order</button>
  </div>
</div>