
<div *ngFor="let order of this.ordersList" (click)="this.navigateService.to('/client/checkout/' + order.orderID)"
    class="mr-4 ml-4 max-w-md pl-2 mt-5 bg-white border border-[#3FBA3D] rounded-lg shadow dark:border-[#3FBA3D] ">
    <div class="flow-root ">
        <ul role="list" class="divide-y divide-[#3FBA3D] dark:divide-[#3FBA3D]">
            <li class="py-2 sm:py-2 ">
                <div class="flex">
                </div>
                <div class=" items-center border-l-8 border-gray-200" *ngIf="order.orderStatus == 'Pending'" 
                >
                    <div class="flex-shrink-0 flex justify-between pl-4 pr-2">

                        <p class="text-lg font-medium text-gray-600 truncate  mb-2">
                           Order no. #{{order.orderID}}
                        </p>
                        <p class="text-lg font-medium text-gray-900 truncate dark:text-black mb-2 pr-8">
                            {{order.orderDate | date:"MMM dd, yyyy"}}
                        </p>
                    </div>
                    <div class="flex justify-between pr-4 ">
                        <div class="flex-1 min-w-0 ms-4">
                            <p class="text- truncate ">
                             Status : {{order.orderStatus}}
                            </p>
                        </div>
                        <div class="inline-flex text-base font-semibold text-gray-900">
                            R{{order.orderPrice}}
                            <a><svg xmlns="http://www.w3.org/2000/svg" fill="#3FBA3D" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="#3FBA3D" class="w-6 h-6 ml-2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                                </svg></a>
                        </div>
                    </div>
                </div>
                <div class=" items-center border-l-8  border-red-500" *ngIf="order.orderStatus == 'Declined'" 
                >
                    <div class="flex-shrink-0 flex justify-between pl-4 pr-2">

                        <p class="text-lg font-medium text-gray-400 truncate mb-2">
                           Order no. #{{order.orderID}}
                        </p>
                        <p class="text-lg font-medium text-gray-900 truncate dark:text-black mb-2 pr-8">
                            {{order.orderDate | date:"MMM dd, yyyy"}}
                        </p>
                    </div>
                    <div class="flex justify-between pr-4 ">
                        <div class="flex-1 min-w-0 ms-4">
                            <p class=" truncate ">
                             Status : {{order.orderStatus}}
                            </p>
                        </div>
                        <div class="inline-flex text-base font-semibold text-gray-900">
                            R{{order.orderPrice}}
                            <a><svg xmlns="http://www.w3.org/2000/svg" fill="#3FBA3D" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="#3FBA3D" class="w-6 h-6 ml-2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                                </svg></a>
                        </div>
                    </div>
                </div>
                <div class=" items-center border-l-8 border-green-500" *ngIf="order.orderStatus != 'Declined' && order.orderStatus != 'Pending'" 
                >
                    <div class="flex-shrink-0 flex justify-between pl-4 pr-2">

                        <p class="text-lg font-medium text-gray-600 truncate mb-2">
                           Order no. #{{order.orderID}}
                        </p>
                        <p class="text-lg font-medium text-gray-900 truncate dark:text-black mb-2 pr-8">
                            {{order.orderDate | date:"MMM dd, yyyy"}}
                        </p>
                    </div>
                    <div class="flex justify-between pr-4 ">
                        <div class="flex-1 min-w-0 ms-4">
                            <p class=" truncate ">
                             Status : {{order.orderStatus}}
                            </p>
                        </div>
                        <div class="inline-flex text-base font-semibold text-gray-900">
                            R{{order.orderPrice}}
                            <a><svg xmlns="http://www.w3.org/2000/svg" fill="#3FBA3D" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="#3FBA3D" class="w-6 h-6 ml-2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                                </svg></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="mb-5"></div>