<div
  class="w-64 h-60 snap-center rounded-2xl flex-none relative overflow-hidden shadow-2xl hover:scale-110 ease-in-out duration-300"
  *ngIf="product">
  <img [src]="product.productImageURL" class="w-full h-full object-cover" alt="" />

  <div class="w-full h-24 absolute bottom-0 backdrop-blur-sm bg-green-600/40 text-white px-2">
    <div class="flex justify-between items-center h-12">
      <div class="font-bold">{{product.productName}}</div>

      <div class="font-bold">R{{product.productPrice}}</div>
    </div>
    <div class="w-full text-center">
      <button *ngIf="showCardButton" class="px-8 py-1 bg-black/90 rounded-md ml-auto font-thin" (click)=" addToCart()">
        Add to cart <i class="bi bi-bag-plus"></i>
      </button>
      <button *ngIf="!showCardButton" class="px-8 py-1 bg-black/90 rounded-md ml-auto font-thin" (click)="deleteItem(product.productID)">
        Delete item
      </button>
    </div>
  </div>
</div>